<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}"/>
        <title>About our website</title>
    </head>
    <body>
        <div class="hero">
            <div class="description">
                <h1> About</h1>
                <p>This software has been developed with the purpose of giving some information about the human genome, taking as input the data contained in a GFF3 file format. 
                    <br>The software reads and analyses the data by processing the information in different active operations.
                    The user is dealing with a web-based interface. The interactive buttons from the home page provide access to the other available views. 
                </p>
            </div>
        </div>    
    </body>
</html>
